html, body{
    height: 100%;
}
body{
    background: url("./img/design-0.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.app-container{
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    opacity: 0.8;
    box-shadow: 0 0 50px rgba(0,0,0,0.6)
}
.new-task-container{
    margin-bottom: 40px;
}
.tasks-container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.single-task{
    margin-bottom: 10px;
}