body{
    background: url("./img/background-2.png") repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
}
.app-container{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color:#00c3ff;
    border-radius: 10px;
}
.new-task-container{
    margin-bottom: 40px;
}
.tasks-container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.single-task{
    margin-bottom: 10px;
}